### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
RawData = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df_RawData = pd.read_csv(RawData)
df_RawData.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
PlayerInfo = df_RawData.loc[:,["SN", "Gender","Age"]]
PlayerInfo.head()

              SN Gender  Age
0        Lisim78   Male   20
1    Lisovynya38   Male   40
2     Ithergue48   Male   24
3  Chamassasya86   Male   24
4      Iskosia90   Male   23

In [3]:
#Make into a dataframe
TotalPlayers = df_RawData['SN'].nunique()
TotalPlayers
pd.DataFrame({"Total Players": [TotalPlayers]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
PlayerInfo = PlayerInfo.drop_duplicates()
PlayerInfo.head()

              SN Gender  Age
0        Lisim78   Male   20
1    Lisovynya38   Male   40
2     Ithergue48   Male   24
3  Chamassasya86   Male   24
4      Iskosia90   Male   23

In [6]:
#Find Unique Item Count
UniqueItemsCount = df_RawData['Item Name'].value_counts()
print(len(UniqueItemsCount))
#Find Average purchase price
PriceAvg = df_RawData['Price'].mean()
print(PriceAvg)
#Convert Average Price
PriceAvgCon = '${:,.2f}'.format(PriceAvg)
print(PriceAvgCon)
#Find Total Number of Purchases
TotPrch = len(df_RawData.index)
print(TotPrch)
#Find Total Revenue
TotRev = df_RawData['Price'].sum()
#Convert Total Revenue
TotRevCon = '${:,.2f}'.format(TotRev)
print(TotRevCon)
#Display the Summary Data Frame
df_DataSum = pd.DataFrame({"Unique Items":[len(UniqueItemsCount)], "Average Price": [PriceAvgCon], "Total Purchases": [TotPrch], "Total Revenue": [TotRevCon]})
df_DataSum.set_index('Unique Items', inplace=True)
df_DataSum.head()

179
3.050987179487176
$3.05
780
$2,379.77

             Average Price  Total Purchases Total Revenue
Unique Items
179                  $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#Clean the Data of Duplicate SNs
df_UniquePlayers = df_RawData.drop_duplicates(subset=['SN'], keep='first')
df_UniquePlayers.head()
#Find the Count of Male, Female, and Other/Non-Disclosed Players
GenderCount = df_UniquePlayers['Gender'].value_counts()
GenderCount.head()

GenderPercentages = GenderCount / TotalPlayers * 100
GenderPercentages.head()

df_GenderDemographics = pd.DataFrame({"Total Players": GenderCount, "Percentage": GenderPercentages})
df_GenderDemographics.head()

df_GenderDemographics = df_GenderDemographics.round(2)
df_GenderDemographics

                       Total Players  Percentage
Male                             484       84.03
Female                            81       14.06
Other / Non-Disclosed             11        1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# Basic Calculations
PurchaseTotalByGender = df_RawData.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
PurchaseAvgByGender = df_RawData.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Value")
PurchaseCountByGender = df_RawData.groupby(["Gender"]).count()["Price"].rename("Purchase Count")


# Calculate normalized Purchasing
AveragePurchaseTotalPerPerson = PurchaseTotalByGender / df_GenderDemographics["Total Players"]

# Cleanup
PurchaseData = pd.DataFrame({"Average Purchase Total Per Player": AveragePurchaseTotalPerPerson, 
                            "Purchase Count": PurchaseCountByGender, 
                            "Total Purchase Value": PurchaseTotalByGender, 
                            "Average Purchase Value": PurchaseAvgByGender})


#Display
PurchaseData

,Average Purchase Total Per Player,Purchase Count,Total Purchase Value,Average Purchase Value
Gender,,,,
Female,4.468395,113,361.94,3.203009
Male,4.065372,652,1967.64,3.017853
Other / Non-Disclosed,4.562727,15,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 9999999]
AgeGroups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

PlayerInfo["Age Intervals"] = pd.cut(PlayerInfo["Age"], bins, labels=AgeGroups)
PlayerInfo.head()

              SN Gender  Age Age Intervals
0        Lisim78   Male   20         20-24
1    Lisovynya38   Male   40           >40
2     Ithergue48   Male   24         20-24
3  Chamassasya86   Male   24         20-24
4      Iskosia90   Male   23         20-24

In [16]:
AgeDemos = PlayerInfo["Age Intervals"].value_counts()
AgeDemosPct = AgeDemos / TotalPlayers * 100

df_AgeSummary = pd.DataFrame({"Total": AgeDemos, "Percent of Total": AgeDemosPct})
df_AgeSummary = df_AgeSummary.sort_index()
df_AgeSummary

       Total  Percent of Total
<10       17          2.951389
10-14     22          3.819444
15-19    107         18.576389
20-24    258         44.791667
25-29     77         13.368056
30-34     52          9.027778
35-39     31          5.381944
>40       12          2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
PurchaseBins = [0, .50, 1.00, 1.50, 2.00, 2.50, 3.00, 3.50, 4.00, 9999999]

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
PlayerTotalSpending = df_RawData.groupby(["SN"]).sum()["Price"].rename("Total Purchase Amount")
PlayerAvgSpending = df_RawData.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
CountPlayerPurchases = df_RawData.groupby(["SN"]).count()["Price"].rename("Purchase Count")

TopSpenders = pd.DataFrame({"Total Purchase Amount": PlayerTotalSpending,
                          "Average Purchase Price": PlayerAvgSpending,
                          "Purchase Count": CountPlayerPurchases})

# Convert to Data Frame
TopSpenders.sort_values("Total Purchase Amount", ascending=False).head()

             Total Purchase Amount  Average Purchase Price  Purchase Count
SN
Lisosia93                    18.96                3.792000               5
Idastidru52                  15.45                3.862500               4
Chamjask73                   13.83                4.610000               3
Iral74                       13.62                3.405000               4
Iskadarya95                  13.10                4.366667               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
MostPop = df_RawData.groupby(["Item ID", "Item Name"]).sum()["Price"]
MostPop.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame